{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<section id="listenBackground" class="container my-5 py-5">


    {% for album in albums %}

    <article class="row my-5 p-md-5">
        <div class="col-md-4">
            <img src="/images/albums/{{album.imageName}}" width="100%" height="auto" class="mr-3 mb-3" alt="...">
        </div>
        <div class="col-md-8">
            <h4 class="mt-1">{{album.title}}</h4>

            <ul playlist="playlist{{album.id}}" class="playlist list-group list-group-flush mt-4">
                
                {% for track in album.tracks %}
                <li class="list-group-item"
                    song="{{track.trackName}}"
                    cover="{{album.imageName}}"
                    from="playlist{{album.id}}">
                    <span>{{track.trackNumber}} - </span>
                    <span>{{track.title}}</span>
                </li>
                {% endfor %}

            </ul>

        </div>
    </article>

    {% endfor %}


</section>




<footer id="listenFooter" class="mt-auto py-3 bg-white border-top border-dark">
    <section class="container">

        <div class="row">

            <div class="col-auto d-none d-sm-block" id="audio-image">
                <img class="cover" width="50" height="50">
            </div>

            <div class="col-sm-5" id="buttons" class="btn-group">
                <div class="row d-flex justify-content-center">
                    <div id="volumeElements">
                        <button id="volumeDown"><img src="/images/player/volume-down-fill.svg" alt=""></button>
                        <button id="volumeMute"><img src="/images/player/volume-mute-fill.svg" alt=""></button>
                        <div id="range">
                            <input id="volume" type="range" class="custom-range" min="0" max="10" value="4">
                        </div>
                    </div>
                    <button id="prev" class="rounded"><img src="/images/player/skip-start-fill.svg" alt=""></button>
                    <button id="play"><img src="/images/player/play-fill.svg" alt=""></button>
                    <button id="pause"><img src="/images/player/pause-fill.svg" alt=""></button>
                    <button id="stop"><img src="/images/player/stop-fill.svg" alt=""></button>
                    <button id="next"><img src="/images/player/skip-end-fill.svg" alt=""></button>
                </div>
                <div class="row">

                </div>

            </div>
            <div class="col-sm-5">

                <div id="audio-info">
                    <span class="title"></span>
                </div>

                <div id="tracker">
                    <div id="progress-bar" class="my-1">
                        <div id="progress"></div>
                    </div>
                    <span id="duration"></span>
                </div>

            </div>

    </section>
</footer>


{% endblock %}